mixin detail(num, tag, h3, date, span,total = 6)
  section.detail
    .main
      .bg
        img(src=`${pathToTcgBig}${num}.png`)
      .info
        span #{ tag }
        h3 #{ h3 }
        dl
          dt 制作時期
          dd #{ date }
          dt 制作期間
          dd #{ span }
        p
          block
    .btns
      - const prev = num === 1 ? total : num - 1;
      - const next = num === total ? 1 : num + 1;

      a.btn(href=`/${prev}/`) 
        .arrow
          include ../../assets/img/common/arrow.svg
        span 前へ
      a.back(href="/tcg/") 作品一覧へ戻る
      a.btn(href=`/${next}/`)
        span 次へ
        .arrow
          include ../../assets/img/common/arrow.svg
