mixin columnItem_1
  li: a(href="/topics/1/")
    figure
      img(src=`${pathToTop}topics_1.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p 小学一年生2025年1月号（小学館）イラスト担当いたしました。

mixin columnItem_2
  li: a(href="/topics/2/")
    figure
      img(src=`${pathToTop}topics_2.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p サウザンロード相模台商店街掲示のごみひろいポスターを制作いたしました。

mixin columnItem_3
  li: a(href="/topics/3/")
    figure
      img(src=`${pathToTop}topics_3.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p 三陸鉄道イーハトーブカレンダー2025に採用されました。
