mixin columnItem_6
  li: a(href="/topics/6/")
    figure
      img(src=`${pathToTop}topics_6.jpg`)
    .inner
      time(datetime="2025-05-31")= "2025.05.31"
      p 小学館様小学一年生2025年7月号『おもしろのりもの大集合!』カットイラストを制作いたしました。

mixin columnItem_5
  li: a(href="/topics/5/")
    figure
      img(src=`${pathToTop}topics_5.jpg`)
    .inner
      time(datetime="2025-01-31")= "2025.01.31"
      p マイウェイ出版様『たっぷりわくわく！まちがいさがしタイム VOL.11』モノクロまちがいさがしを4点制作しました。

mixin columnItem_4
  li: a(href="/topics/4/")
    figure
      img(src=`${pathToTop}topics_4.jpg`)
    .inner
      time(datetime="2024-12-24")= "2024.12.24"
      p どこでもキャッチャー様とのコラボにて、イラスト3点がオンラインクレーンゲームのプライズとなりました。

mixin columnItem_3
  li: a(href="/topics/3/")
    figure
      img(src=`${pathToTop}topics_3.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p 小学一年生2025年1月号（小学館）イラスト担当いたしました。

mixin columnItem_2
  li: a(href="/topics/2/")
    figure
      img(src=`${pathToTop}topics_2.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p サウザンロード相模台商店街掲示のごみひろいポスターを制作いたしました。

mixin columnItem_1
  li: a(href="/topics/1/")
    figure
      img(src=`${pathToTop}topics_1.jpg`)
    .inner
      time(datetime="2024-11-29")= "2024.11.29"
      p 三陸鉄道イーハトーブカレンダー2025に採用されました。
