extends _template/_base
include work/detail_cb

block vars
  - lev1ID = "works";
  - lev = 2;
  - titleChild = "WORKS";

  block links
    link(href=`${pathToCSS}detail_cb.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(2,"CHILDREN’S BOOK | オリジナル","博物マニアオリジナルグッズ用イラスト" , "2024.05", "3日","6月の博物マニアに向けてオリジナルグッズを制作しました。（トートバッグ、メタルボールチェーン、アクリルキーホルダー等）")
    .content
      figure.first
        img(src=`${pathToCbBig}2_1.webp`)
      figure
        img(src=`${pathToCbBig}2_2.webp`)
      figure
        img(src=`${pathToCbBig}2_3.webp`)
      figure
        img(src=`${pathToCbBig}2_4.webp`)
      figure
        img(src=`${pathToCbBig}2_5.webp`)
      figure
        img(src=`${pathToCbBig}2_6.webp`)
      figure
        img(src=`${pathToCbBig}2_7.webp`)
      figure
        img(src=`${pathToCbBig}2_8.webp`)
      figure
        img(src=`${pathToCbBig}2_9.webp`)
      figure
        img(src=`${pathToCbBig}2_10.webp`)
      figure
        img(src=`${pathToCbBig}2_11.webp`)
      figure
        img(src=`${pathToCbBig}2_12.webp`)
      figure
        img(src=`${pathToCbBig}2_13.webp`)
      figure
        img(src=`${pathToCbBig}2_14.webp`)
      figure
        img(src=`${pathToCbBig}2_15.webp`)

block scripts
  script(src=`${pathToJS}main.js`)
