extends _template/_base

block vars
  - lev1ID = "work";
  - lev = 1;
  - titleChild = "作品一覧";

  block links
    link(href=`${pathToCSS}work_tcg.css${hash}`, rel="stylesheet", type="text/css")
mixin muuriItem(num, tag, alt)
  li.item(data-tag=`${tag}`)
    .item-content
      a(href=`/tcg/${num}/`)
        img(src=`${pathToTcgMin}${num}.jpg`, alt=`${alt}`)

block main
  section.work-bace
    .top
      .pc-content
        .head
          h3 WORK
          h2
            | GAME
            span &amp;
            | TCG
          p モンスターデザインやリッチなエフェクトで、かっこいいテイストのイラスト
        nav.menu-box
          .category
            a(href="/cb/") 児童書向け
            a ゲーム・TCG向け
          .filter-btns
            span.active(data-filter="*") 全て
            span(data-filter="filter01") お仕事
            span(data-filter="filter02") オリジナル
            //- button ファンアート
      img(src=`${pathToTcgMin}top.png`, alt="", width="200px")
    .hr
      hr
    .padding
      ul.grid
        +muuriItem(6, "filter02", "TCG風イラスト")
        +muuriItem(5, "filter02", "TCG風イラスト")
        +muuriItem(4, "filter01", "カレンダーコンテスト5月")
        +muuriItem(3, "filter01", "カレンダーコンテスト5月")
        +muuriItem(2, "filter01", "カレンダーコンテスト5月")
        +muuriItem(1, "filter01", "カレンダーコンテスト5月")

block scripts
  //- アニメーションインストール
  script(src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js")
  //- muuriインストール
  script(src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.9.5/muuri.min.js")
  script(src=`${pathToJS}main.js`)
  script(src=`${pathToJS}work.js`)
