extends _template/_base

block vars
  - lev1ID = "top";
    - lev = 1;

  block links
    link(href=`${pathToCSS}work_bace.css${hash}`, rel="stylesheet", type="text/css")

mixin muuriItem(num, tag, alt)
  li(class=item, `&{tag}`)
    .item-content
      a(href="#")
        img(src=`${pathToImgTCG}${num}.png`, alt=`${alt}`)

block main
  section.work
    .top
      .head
        h3 WORK
        h2
          | GAME
          span &amp;
          | TCG
        p モンスターデザインやリッチなエフェクトで、かっこいいテイストのイラスト
      img(src="/assets/images/work/tcg/top.png", alt="", width="200px")
    nav.work-nav
      .category
        a(href="#") 児童書向け
        a(href="#") ゲーム・TCG向け
      ul.tug
        li 全て
        li お仕事
        //- li ファンアート
        li オリジナル
    ul.grid
      +muuriItem(1, "category-a", "TCG風イラスト")
      +muuriItem(2, "category-b", "TCG風イラスト")
      +muuriItem(3, "category-c", "カレンダーコンテスト5月")

block scripts
  //- muuriインストール
  script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.3/muuri.min.js"
  //- アニメーションインストール
  script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"
  script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" 
  script src=`${pathToLibs}main.js`
