include ../top/topics_list

mixin topics(date, time, h3, num, p,)
  section.topics-page
    .inner
      h2 TOPICS
      time(datetime=date)= time
      h3 #{ h3 }
      .bg
        .img
          img(src=`${pathToTopics}${num}.webp`)
        p !{ p }
        block
      .others
        h3 その他のお知らせ
        ul
          - var listNam = num;
          if listNam === 1
            +columnItem_5
            +columnItem_4
            +columnItem_3
            +columnItem_2
          else if listNam === 2
            +columnItem_5
            +columnItem_4
            +columnItem_3
            +columnItem_1
          else if listNam === 3
            +columnItem_5
            +columnItem_4
            +columnItem_2
            +columnItem_1
          else if listNam === 4
            +columnItem_5
            +columnItem_3
            +columnItem_2
            +columnItem_1
          else if listNam === 5
            +columnItem_4
            +columnItem_3
            +columnItem_2
            +columnItem_1
