include ../top/topics_list

mixin topics(date, time, h3, num, p,)
  section.topics-page
    .inner
      h2 TOPICS
      time(datetime=date)= time
      h3 #{ h3 }
      .bg
        .img
          img(src=`${pathToTopics}${num}.webp`)
        p !{ p }
        block
      .others
        h3 その他のお知らせ
        ul
          - var listNam = num;
          if listNam === 3
            +columnItem_8
            +columnItem_7
            +columnItem_6
            +columnItem_5
            +columnItem_4
          else if listNam === 4
            +columnItem_8
            +columnItem_7
            +columnItem_6
            +columnItem_5
            +columnItem_3
          else if listNam === 5
            +columnItem_8
            +columnItem_7
            +columnItem_6
            +columnItem_4
            +columnItem_3
          else if listNam === 6
            +columnItem_8
            +columnItem_7
            +columnItem_5
            +columnItem_4
            +columnItem_3
          else if listNam === 7
            +columnItem_8
            +columnItem_6
            +columnItem_5
            +columnItem_4
            +columnItem_3
          else if listNam === 8
            +columnItem_7
            +columnItem_6
            +columnItem_5
            +columnItem_4
            +columnItem_3
